.footer{
    text-align: center;
    background: black;
    position: fixed;
    display: inline-block;
    bottom: 0px;
    right: 10%;
}
.footer > p{
    padding: 12px;
    background: none;
    color: #888;
    font-size: small;
}
@media all and (max-width: 600px){
    .footer{
        display: none;
    }
}