.neodrawback{
    background-color: black;
    transition: 800ms;
    width: 0px;
    height: 0px;
    position: fixed;
    top: 50%;
    left: 50%;
}
.neodrawback.show{
    width: 10vw;
    height: 10vh;
    transform: scale(20);
    transform-origin: center;
}