.logo > svg{
    height: 64px;
    width: auto;
    padding-right: 0px;
}
@media all and (max-width: 600px){
    .logo > svg{
        height: auto;
        width: 80%;
        padding-right: 0px;
    }
}