.caseDetails{
    top: 0%;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    min-height: 100%;
    max-height: 100%;
    background-color: black;
    align-items: center;
    
}
.caseDetails *{
    display: inline-block;
}
.caseDetails h2{
    color: white;
}
.caseDetails > .mbGallery{
    display: none;
}
.caseDetails > .details{
    width: 30%;
    height: 100%;
    position: fixed !important;
    top: 30%;
    left: 0px;
}
.caseDetails h4{
    font-size: small;
}
.caseDetails p{
    font-size: medium;
    padding: 0px 2rem;
    display: block !important;
}
.caseDetails > .gallery{
    width: 60%;
    left: 40%;
    top: 0%;
    display: block;
    position: relative;
}
.caseDetails .caseNav{
    display: flex;
    justify-content: flex-end;
}
.caseDetails .caseNav > a{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    color: black;
    background-color: white;
}
.caseDetails .caseNav > a:hover{
    color: white;
    background-color: black;
}
.caseDetails .caseNav > a:hover rect{
    fill: white;
}

@media all and (max-width: 600px){
    .caseDetails *{
        display: block;
    }
    .caseDetails > .gallery{
        width: 60%;
        left: 40%;
        top: 0%;
        display: none;
        position: relative;
    }
    .caseDetails > .details{
        width: 100vw;
        height: 50vh;
        position: relative !important;
        top: 0%;
        left: 0px;
    }
    .caseDetails > .mbGallery{
        width: 100vw;
        height: auto;
        top: 0px;
        left: 0px;
        background-color: #000;
        display: block;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
    }
    .caseDetails > .details *{
        background: none;
        color: white;
    }
    .caseDetails > .details .caseNav{
        width: 100%;
    }
    .caseDetails h4{
        font-size: small;
        background: white !important;
        color: black !important;
        display: inline-block;
    }
    .caseDetails > .details br{
        display: none;
    }
}