.gallery-image{
    opacity: 0;
    display: block;
    padding: 2rem;
}
.gallery-image[loaded='1']{
    opacity: 1;
    transition: 500ms;
}

.gallery-image[loaded='1']:hover{
    padding: 0px;
}
.gallery-image-index{
    display: none !important;
}

@media all and (max-width: 600px){
    .gallery-image{
        opacity: 1 !important;
        padding: 0px !important;
        top: 0px !important;
        left: 0px !important;
        border: 0px solid black;
        width: 100%;
        height: auto;
    }
    .gallery-image[loaded='1']{
        opacity: 1;
        
    }
    .gallery-image-index{
        display: inline-block !important;
        color: white;
        font-size: 14px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 8px;
        background: rgba(0,0,0,0.5);
    }
}