.gallery-image{
    opacity: 0;
    width: 100%;
    height: auto;
    display: block;
    padding: 48px;
    border: 16px solid black;
}
.gallery-image[loaded='1']{
    opacity: 1;
    transition: 500ms;
}

.gallery-image[loaded='1']:hover{
    padding: 0px;
}